

.login-container {
    height: 100%;
    width: 100%;
    display: flex;

    .login-box {
        border-width: 3px;
        border-style: solid;
        border-color: var(--divider);
        border-radius: 5px;
        margin: auto;

        width: 35rem;
        height: 22rem;

        hr {
            border-color: var(--divider);
            border-width: 1px;
            border-style: solid;
        }

        .login-form {
            margin-top: 2rem;
            display: flex;
            flex-direction: column;
        }

        .login-field-account, .login-field-password {
            width: 50%;
            margin-bottom: 2rem;
            margin-left: 2rem;
        }

        .login-button-submit {
            width: 5rem;
            margin-bottom: 2rem;
            margin-left: 2rem;
        }

        .login-title {
            text-align: center;
        }
    }
}
