
$background-default-l:#ffffff;
$background-paper-l: #f5f5f5;

$background-default-d:#121212;
$background-paper-d: #272727;

$primary-light-l: #3D74D5;
$primary-main-l: #053893;
$primary-dark-l: #09398E;
$primary-contrast-l: #ffffff;

$primary-light-d: #3D74D5;
$primary-main-d: #0d52cb;
$primary-dark-d: #09398E;
$primary-contrast-d: #ffffff;

$secondary-light: #D6AE3E;
$secondary-main: #cc9a0e;
$secondary-dark: #8E6B09;
$secondary-contrast: rgba(0, 0, 0, 0.87);

$error-light: #D73333;
$error-main: #CE0000;
$error-dark: #900000;
$error-contrast: #ffffff;

$warning-light: #EF8933;
$warning-main: #ec6c00;
$warning-dark: #A54B00;
$warning-contrast: #ffffff;

$info-light: #3797A8;
$info-main: #057d93;
$info-dark: #035766;
$info-contrast: #ffffff;

$success-light: #338D34;
$success-main: #007102;
$success-dark: #004F01;
$success-contrast: #ffffff;

$divider-l: rgba(0, 0, 0, 0.12);
$divider-d: rgba(255, 255, 255, 0.12);

$text-primary-l: rgba(0, 0, 0, 0.87);
$text-secondary-l: rgba(0, 0, 0, 0.6);
$text-disabled-l: rgba(0, 0, 0, 0.38);

$text-primary-d: #ffffff;
$text-secondary-d: rgba(255, 255, 255, 0.7);
$text-disabled-d: rgba(255, 255, 255, 0.5);

html {
    --background-default: #{$background-default-l};
    --background-paper: #{$background-paper-l};
    
    --primary-light: #{$primary-light-l};
    --primary-main: #{$primary-main-l};
    --primary-dark: #{$primary-dark-l};
    --primary-contrast: #{$primary-contrast-l};

    --secondary-light: #{$secondary-light};
    --secondary-main: #{$secondary-main};
    --secondary-dark: #{$secondary-dark};
    --secondary-contrast: #{$secondary-contrast};

    --error-light: #{$error-light};
    --error-main: #{$error-main};
    --error-dark: #{$error-dark};
    --error-contrast: #{$error-contrast};

    --warning-light: #{$warning-light};
    --warning-main: #{$warning-main};
    --warning-dark: #{$warning-dark};
    --warning-contrast: #{$warning-contrast};

    --info-light: #{$info-light};
    --info-main: #{$info-main};
    --info-dark: #{$info-dark};
    --info-contrast: #{$info-contrast};

    --success-light: #{$success-light};
    --success-main: #{$success-main};
    --success-dark: #{$success-dark};
    --success-contrast: #{$success-contrast};

    --divider: #{$divider-l};

    --text-primary: #{$text-primary-l};
    --text-secondary: #{$text-secondary-l};
    --text-disabled: #{$text-disabled-l};
}

html[darkmode="true"] {
    --background-default: #{$background-default-d};
    --background-paper: #{$background-paper-d};
    
    --primary-light: #{$primary-light-d};
    --primary-main: #{$primary-main-d};
    --primary-dark: #{$primary-dark-d};
    --primary-contrast: #{$primary-contrast-d};

    --divider: #{$divider-d};

    --text-primary: #{$text-primary-d};
    --text-secondary: #{$text-secondary-d};
    --text-disabled: #{$text-disabled-d};
}
