
.setting-bar-container {
    overflow: scroll;

    h3 {
        margin: 0 0 1rem 1rem;
    }

    .setting-bar-player-row-name {
        padding-left: 1rem !important;
        overflow: hidden;
    }

    .setting-bar-player-row-button {
        justify-content: center;
        vertical-align: middle;
        display: grid;

        & > button {
            height: 2rem;
            margin: auto;
        }
    }
}