

.login-container {
    height: 100%;
    width: 100%;
    display: flex;

    .login-box {
        border-width: 3px;
        border-style: solid;
        border-color: var(--divider);
        border-radius: 5px;
        margin: auto;
        display: flex;
        flex-direction: column;

        width: 35rem;
        height: 24rem;

        .login-title-container {
            border-bottom: 3px solid var(--divider);
            display: grid;

            .login-title {
                text-align: center;
            }
        }

        .login-form {
            flex: 1 0 auto;
            padding-top: 2rem;
            padding-bottom: 4rem;
            display: flex;
            flex-direction: column;
            width: fit-content;
            justify-content: space-evenly;
            margin-left: auto;
            margin-right: auto;

            .login-field-account, .login-field-password {
                width: 25rem;
                margin-bottom: 0.5rem;
            }
    
            .submit-container {
                display: flex;
                flex-direction: row;
                height: fit-content;
    
                .login-button-submit {
                    margin-right: 2rem;
                }
        
                .login-loading-spinner {
                    width: 2.25rem !important;
                    height: 2.25rem !important;
                }
            }
        }
    }
}
