
#header {
    min-height: 65px;
    min-width: 100%;
    background-color: grey;
    display: inline-flex;
}

#logo {
    display: inline-block;
    margin: auto 0 auto 0;
    vertical-align: middle;
}

#rightBox {
    display: inline-flex;
    justify-content: right;
    margin: auto 0 auto 0;
    vertical-align: middle;

    width: 100%;
    min-height: 65px;
}

.rightContent {
    display: inline-block;
    margin: auto 0 auto 0;
    vertical-align: middle;
}