
.chat-bar-container {
    flex: 1 1 auto;
    overflow-y: auto;

    .chat-bar-box {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 0.5rem 1rem 1rem 1rem;
        .chat-bar-content {
            flex: 1 1 auto;
            border-style: solid;
            border-radius: 5px;
            border-color: var(--divider);
            margin-bottom: 1rem;
            overflow: scroll;
        }
    
        .chat-bar-input {
            flex: 0 1 auto;
            display: inline-flex;
    
            & > button {
                width: 3rem;
                height: 2rem;
                margin: auto;
            }
    
            .chat-bar-input-text {
                flex: 1 1 auto;
                margin-right: 0.5rem;
            }
        }
    }
}